@import "mixins";
@include block(c-text) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: $headings-margin-bottom;
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        line-height: $headings-line-height;
        color: $headings-color;
    }
    h1 {
        font-size: $font-size-h1;
    }
    h2 {
        font-size: $font-size-h2;
    }
    h3 {
        font-size: $font-size-h3;
    }
    h4 {
        font-size: $font-size-h4;
    }
    h5 {
        font-size: $font-size-h5;
    }
    h6 {
        font-size: $font-size-h6;
    }
    p {
        font-size: $font-size-base;
        font-family: $font-family-sans-serif;
    }
    @include media-breakpoint-only(xs) {
        p {
            font-size: $font-size-xs;
        }
    }
    @include media-breakpoint-only(sm) {
        p {
            font-size: $font-size-sm;
        }
    }
    @include media-breakpoint-only(md) {
        p {
            font-size: $font-size-lg;
        }
    }
    @include media-breakpoint-only(lg) {
        p {
            font-size: $font-size-lg;
        }
    }
    @include media-breakpoint-only(xl) {
        p {
            font-size: $font-size-lg;
        }
    }
}
