@import "core/normalize";
@import "core/print";
@import "core/grid";
@import "core/mixins";
@import "core/fontawesome/scss/font-awesome";

* {
    box-sizing: border-box;
}

html {
    font-family: $font-family-sans-serif;
    font-size: $font-size-root;
}

body {
    background-color: $body-bg;
    color: $body-color;
}
